# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so



# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytest_cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# FastAPI / uvicorn logs
*.log

# Environment variables
.env
.env.*

# VSCode
.vscode/
*.code-workspace




# Local virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

migrations/
migration/
*.json
*.docx
*.sqlite3
*.png
*.jpg
uploads/
media