fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
alembic
bcrypt
pydantic
pydantic[email]
python-decouple
sqlmodel
passlib[bcrypt]
fastapi-mail
python-jose
psycopg2-binary
faker
aiofiles
sqlalchemy-continuum
SQLAlchemy-Utils
python-multipart
